@font-face {
    font-family: 'open_sansregular';
    src: url('Fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: open_sansregular, Arial, sans-serif;
}

header {
    padding: 4px 0px 80px;
    background-color: white;
    height: 600px;
    text-align: center;
    z-index: 1;
    transition: all .5s;
    user-select: none;
}


.header-container {
    margin-top: 200px;
    /* margin-bottom: 80px; */
    position: sticky;
    top: 5px;
}


#profile-pic {
    transition: all .5s;
    transform: translateY(0px);
    border-radius: 50%;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    pointer-events: none;
    border: 4px solid #4e72c1;
}

#logo {
    transition: all .5s;
    margin: auto;
    transform: translateY(-30px);
    width: 200px;
    font-weight: bolder;
    font-size: 14px;
}


#logo img {
    width: 100%;
    pointer-events: none;
}


.profile-pic-scrolled {
    width: 70px !important;
    height: 70px !important;
    transform: translate(100px, 60px) !important;
    border: 2px solid #4e72c1 !important;
}

.logo-scrolled {
    width: 150px !important;
    transform: translate(-70px, 0px) !important;
    font-size: 12px !important;
}


main {
    background-color: #4e72c1;
    padding: 0px 10px 20px;
}

section {
    background-color: white;
    color: black;
    border-radius: 20px;
    /* padding: 5px; */
    position: relative;
    top: -30px;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    overflow: hidden;
    margin-bottom: 20px;
}

aside a {
    transition: box-shadow .15s, transform .15s;
    background-color: white;
    border-radius: 50px;
    padding: 9px 7px 10px 25px;
    display: block;
    color: rgb(65, 65, 65);
    text-decoration: none;
    margin-bottom: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

aside a:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(1px);
}

.tlg {
    background: url(./img/telegram.png) right no-repeat, white;
    background-origin: content-box;
    background-size: 50px;
}

.mail {
    background: url(./img/gmail.png) right no-repeat, white;
    background-origin: content-box;
    background-size: 50px;
}

.github {
    background: url(./img/github.png) right no-repeat, white;
    background-origin: content-box;
    background-size: 50px;
}

.linkedin {
    background: url(./img/LinkedIn.svg) right no-repeat, white;
    background-origin: content-box;
    background-size: 50px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.pup {
    font-size: 18px;
    margin: 1px;
    color: black;
}

.pdown {
    font-size: 14px;
    margin: 1px;
    overflow: hidden;
}

h1 {
    font-size: 24px;
    margin: 24px 0px 0px;
}

.bio {
    display: inline-block;
    font-size: 18px;
    margin: 5px;
}

.skills {
    height: 40px;
    width: 40px;
    margin: 10px 2px;
}

.works-container {
    display: flex;
    transition: all .5s;
    transform: translateX(0);
    margin: 5px;
    max-height: 150px;
}

.samples-container {
    min-width: 100%;
}

.skills-container {
    min-width: 100%;
}

.buttons-container {
    padding: 12px;
    width: 300px;
    margin: auto;
    user-select: none;
}

.btn {
    padding: 7px 12px;
    background-color: white;
    border: none;
    /* border-radius: 20px; */
    font-size: 16px;
    color: #5b5b5b;
    border-bottom: 2px solid rgb(229, 229, 229);
    font-family: open_sansregular, Arial, sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.line {
    transition: all .5s;
    background-color: #4e72c1;
    width: 61px;
    height: 2px;
    position: relative;
    left: 61px;
    top: -2px
}

.btn-active {
    color: #000000;
}

.samples-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sample-container {
    transition: all .5s;
    text-align: left;
    background-color: #e7efff;
    padding: 16px;
    border-radius: 16px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.sample-container a {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.sample-container a:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.sample-container a:hover:after {
  opacity: .5;
}

.sample-container a:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.sample-container a:active:after {
  opacity: 1;
}


.sample-header {
    height: 75px;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: 200;
    user-select: none;
}

.sample-header img {
    object-fit: contain;
    position: absolute;
    right: 0px;
    top:-5px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

#notichi-icon {
    width: 45px;
    height: 45px;
    right: 0px;
    top: -2px;
    border-radius: 50%;
}

.sample-header h3 {
    font-size: 20px;
    font-weight: 500;
}

.sample-header p {
    font-size: 12px;
    font-weight: 300;
}

.profession {
    color: white;
    background-color: rgb(78, 114, 193);
    border-radius: 50px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

@media only screen and (min-width: 768px) {
    header {
        height: 700px;
    }

    #profile-pic {
        width: 250px;
        height: 250px;
    }

    #logo {
        width: 300px;
        transform: translateY(-40px);
        font-size: 22px;

    }

    .profile-pic-scrolled {
        width: 100px !important;
        height: 100px !important;
        transform: translate(180px, 80px) !important;
    }

    .logo-scrolled {
        width: 200px !important;
        transform: translate(-150px, 0px) !important;
        font-size: 12px !important;
    }

    main {
        padding: 0px 40px 20px;
    }


    .skills {
        width: 50px;
        height: 50px;
    }

    h1 {
        font-size: 30px;
    }

    .bio {
        font-size: 22px;
    }

}


@media only screen and (min-width: 1024px) {
    body {
        background-color: white;
    }

    .main-container {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        max-width: 1024px;
        border-radius: 28px;
        margin: auto;
    }

    main {
        margin: auto;
        padding: 20px 20px;
        max-width: 1024px;
        border-radius: 0 0 28px 28px;
    }

    article {
        display: inline-block;
        width: 61%;
        margin-right: 4%;
        box-sizing: border-box;
        vertical-align: top;
    }

    section {
        position: static;
        margin-bottom: 0px;
    }

    aside {
        display: inline-block;
        width: 35%;
        vertical-align: top;
    }

    aside a {
        padding: 10px 6px 10px 25px;
    }


    aside a:last-child {
        margin-bottom: 0px;
    }

    h1 {
        font-size: 34px;
    }

    .bio {
        font-size: 24px;
    }

    aside a:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
        transform: translateY(-2px);
    }

    aside a:active {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(1px);
    }


    .logo {
        font-size: 120px;
    }

    .mail,
    .tlg,
    .github,
    .linkedin {
        background-size: 55px;
    }

    .skills {
        width: 50px;
        height: 50px;
    }

    header {
        padding: 4px 0px 4px;
        background-color: white;
        height: 100px;
        border-radius: 25px 25px 0 0;
        text-align: center;
        transition: all .5s;
        max-width: 1024px;
        margin: auto;
        margin-top: 200px;
        background-color: #4e72c1;
    }


    .header-container {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100px;
        position: static;
        /* top: 5px; */
    }


    #profile-pic {
        transition: all .5s;
        transform: translateY(-100px);
        border-radius: 50%;
        border-radius: 50%;
        width: 180px;
        height: 180px;
        margin: auto;
        border: 4px solid white;
        box-shadow: none;
    }

    #logo {
        transition: all .5s;
        margin: auto;
        transform: translateY(-60px);
        width: 400px;
        font-weight: bolder;
        font-size: 14px;
        color: white;
    }

    #logo img {
        width: 100%;
    }


    .profile-pic-scrolled {
        width: 70px !important;
        height: 70px !important;
        transform: translate(100px, 60px) !important;
    }

    .logo-scrolled {
        width: 150px !important;
        transform: translate(-70px, 0px) !important;
        font-size: 12px !important;
    }

    .profession {
        font-size: 20px;
        background-color: white;
        color: #4e72c1;
        border-radius: 20px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px inset, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px inset;
    }

}